<%- include('./partials/header-logado') %>
  <main>
    <div class="row" id="BuscaPageRow">
      <div class="listaLivros col-lg-6 col-sm-12">
        <% books.map(book => { %>
          <div class="livroBox container d-flex border-bottom py-3">
              <div class="livro-imagem-container align-self-center">
                <% if (book.emprestimo !== null && book.emprestimo.dataValues.data_devolucao==null) {%>
                  <div id="trocado"></div>
                <%}%>
                <% if (book.doacao !== null) {%>
                  <div id="doado"></div>
                <%}%>
                  <%if(book.photo){%>
                    <img class="livro-img" style="max-width: 120px;" src="/images/img-livros/<%= book.photo %>" alt="">
                  <%} else {%>
                    <img class="livro-img" src="/images/icons/book.png" style="max-width: 120px;" alt="">
                  <%}%>
              </div>
            <div class="livroInfo container d-flex flex-column align-items-start">
              <h6 class="tituloLivro"><%=book.titulo%></h6>
              <span class="detalheLivro">Autor: <%= book.autor %> </span>
              <div class="detalhesLivro d-flex mt-3">
                <%= book.disponibilidade %> 
                <!-- <span class="detalheLivroSepara">-</span>
                Livro
                <span class="detalheLivroSepara">-</span>
                Suspense -->
              </div>
              <div class="livroDistancia mt-auto">
                <span class="livroFontMenor"><%= book.localizacao %></span>
              </div>
              <div class="livroContato d-md-none container d-flex mt-2 justify-content-center">
                <span class="fa-stack fa-1x">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fas fa-user fa-stack-1x fa-inverse"></i>
                </span>
                <span class="fa-stack fa-1x">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fas fa-comments fa-stack-1x fa-inverse"></i>
                </span>
                <span class="fa-stack fa-1x">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-whatsapp fa-stack-1x fa-inverse"></i>
                </span>
              </div>
            </div>
            <div class="livroContato d-none d-md-block align-self-center">
              <div class="avatar text-center d-flex justify-content-around">
                <div class="img-avatar">
                  <img src=<%= book.user.avatar %> alt="..." class="img-fluid">
                </div>              
                <span class="livroFontMenor"><%= book.user.first_name %></span>
              </div>
              <div class="mt-2 d-flex justify-content-center">
                <a href="mailto:<%=book.user.email%>">
                  <span class="fa-stack fa-1x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fas fa-comments fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
                <a href="https://wa.me/55<%= book.user.phoneNumber %>" target="_blank">
                  <span class="fa-stack fa-1x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-whatsapp fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </div>
            </div>
          </div>
        <% }) %> 
        
      </div>

      <aside class="d-none d-md-block col-lg-6 col-sm-12 mapaBuscaLivros" id="mapa" style="background-image: url('images/mapaRascunho.png');">
      </aside>  
    </div>
  </main>

<!-- Acho que não precisa desse footer
  <footer class="footer">
    <div class="container">
      
      <div class="row ">
        <div class="col-md-3 ">
          <a class="navbar-brand ml-4 mr-5" href="/"><img src="images/logo.png" alt="Logo SwapBook" ></a>
        </div>
        
        <div class="col-md-3">
          <h4>Sobre</h4>
          <ul class="footer-nav">
            <li>
              <a class="text-dark" href="quemSomos">Quem Somos</a>
            </li>
          </ul>
        </div>

        <div class="col-md-3">
          <h4 class="text-bold">Suporte</h4>
          <ul class="footer-nav">
            <li >
              <a class="text-dark" href="comofazerparte">Como Fazer Parte</a>
            </li>
            <li>
              <a class="text-dark" href="contato">Fale Conosco</a>
            </li>
            <li>
              <a class="text-dark" href="#">F.A.Q</a>
            </li>
          </ul>
        </div>
        
        <div class="col-md-3">
          <h4>Acessar</h4>
          <ul class="footer-nav">
            <li>
              <a class="text-dark" href="" >Entrar</a>
            </li>
            <li>
              <a class="text-dark" href="">Registrar</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr class="text-darkr">
    <div class="container">
      <div class="row">
        <div class="col-md-6 flex">
         <span> © SwapBook, Inc. 2020. </span>
        </div>
        <div class="col-md-6 flex">
          <span> siga-nos: </span>
          <div>
            <img class="img-logo" src="images/instagram.svg" alt="logo do instagram">
            <img class="img-logo" src="images/facebook.svg" alt="logo do facebook">
            <img class="img-logo" src="images/linkedin.svg" alt="logo do linkedin">
          </div>
         </div>
      </div>
    </div>
  </footer>--><!--end footer-->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="./bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>