<%- include('./partials/header-logado') %>
<main>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-2 d-none d-lg-block position-fixed col-lateral">
          <div class="d-block">
            <ul class="menu-lateral">
              <li class="sessao-menu"><%= `${usuario.first_name} ${usuario.last_name}` %></li>  
              <li><a data-toggle="modal" data-target="#compartilharLivroModal" href="#">Compartilhar meu livro</a></li>
              <li><a href="listar-meus-livros-para-doacao">Meus livros para doação</a></li>
              <li><a href="listar-meus-livros-para-troca">Meus livros para troca</a></li>                
              <div class="dropdown-divider"></div>    
              <li class="sessao-menu">Comunidade</li>            
              <li><a href="listar-livros-para-doacao">Livros disponíveis para doação</a></li>
              <li><a href="listar-livros-para-troca">Livros disponíveis para troca</a></li>
            </ul>
          </div>


        </div>
        <div class="col-lg-10 offset-lg-2">

          <div class="lista-livros">
            <div class="container-fluid">              
              <div class="row">
                <div class="col-lg-12 topo">                 
                  <h2>Meus livros para troca</h2>                
                </div>  
              </div>
              <div class="row py-5">

                
                <%  books.map(book => { %>
                  <div class="col-lg-3 text-center p-2">                 
                    <img src=<%= `images/img-livros/${book.photo}`%> alt="livro 1" class=" img-fluid capa-livro">
                    <p class="m-1 nome-livro"><%= book.titulo %></p>
                    <p class="local"> <%= book.localizacao %></p>
                    <div class="d-inline-flex p-2 bd-highlight">
                      <button type="button" class="btn btn-primary mr-2 btn-sm" data-toggle="modal" data-target="#editarLivroModal" data-id="<%= book.id %>" data-livro="<%= book.titulo %>" data-autor="<%= book.autor %>" data-local="<%= book.localizacao %>" data-imagem=<%=book.photo%> >
                        <img src="images/icons/editar.svg" alt="editar" width="20px" class="my-1">
                      </button>
                      <form action="/listar-meus-livros-para-troca/<%=book.id%>?_method=DELETE" method="POST">
                        <!-- data-toggle="modal" data-target="#excluirModal" data-livro=<%= book.titulo %> data-autor= <%= book.autor %> data-local= <%= book.localizacao %> data-imagem="2.jpg" -->
                        <button type="submit" class="btn btn-primary mr-2 btn-sm" >
                          <img src="images/icons/deletar.svg" alt="deletar" width="20px" class="my-1">
                        </button>
                      </form>
                      <% if (book.emprestimo !== null && book.emprestimo.dataValues.data_devolucao==null) {%>
                        <div id="trocado"></div>
                        <button type="button" class="btn btn-primary mx-auto btn-sm" data-toggle="modal" data-target="#recebidoModal" data-livros_id="<%= book.emprestimo.dataValues.id %>" >
                           Devolvido
                        </button>
                      <%} else { %>
                        <button type="button" class="btn btn-primary mx-auto btn-sm" data-toggle="modal" data-target="#emprestadoModal" data-id="<%= book.id %>" data-livro=<%= book.titulo %> data-autor= <%= book.autor %> data-local= <%= book.localizacao %>  data-imagem="2.jpg">
                          <img src="images/icons/doar.svg" alt="emprestadoButton" width="20px" class="my-1"> Emprestar
                        </button>
                      <% } %>
                    </div> 
                  </div>
                <% }) %>
                              
              </div>              
                
            </div>
          </div>

          
          <nav aria-label="Paginaçao livros ">
            <ul class="pagination justify-content-center">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
          
          


        </div>
      </div>
    </div>

    </section>
  </main>

  <div class="modal fade" id="compartilharLivroModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">    
          <h5>Cadastrar livro</h5>      
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="cadastro-livro">
            <form action="/book" method="POST" enctype="multipart/form-data">
              <div class="row">
                <div class="col-12 col-lg-6">
                  <img src="images/icons/book.png" class="rounded  mr-auto d-block img-fluid mb-3" width="100" alt="Capa livro">
                  <input type="file" name="photo" id="photo">
                  <div class="form-group">
                    <label for="titulo">Nome do livro</label>
                    <input type="text" class="form-control" name="titulo" id="nomeLivro" placeholder="Nome do livro">
                  </div>
                  <div class="form-group">
                    <label for="autor">Autor</label>
                    <input type="text" class="form-control" name='autor' id="autor" required placeholder="Autor">
                  </div>
                  <div class="form-group">
                    <label for="acao">O que deseja fazer?</label>
                    <select id="acao" name="disponibilidade" class="form-control">
                      <option selected value="doar">Doar</option>
                      <option value="emprestar">Emprestar</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="localTroca">Local de encontro para troca</label>
                    <input type="text" class="form-control" name="localizacao" id="localTroca" placeholder="Local de encontro para troca">
                  </div>
                </div>
                <div class="col-12 col-lg-6">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3657.164465543781!2d-46.657037035543055!3d-23.562535967519576!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-PT!2sus!4v1586352420780!5m2!1spt-PT!2sus" width="100%" height="320" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
                <div class="col-12">
                  <input class="btn btn-primary px-3 my-2" type="submit" value="Cadastrar livro">
                </div>
              </div>
              
              
            </form>
          </div>
        </div>        
      </div>
    </div>
  </div>
  
  <!--Modal editar-->
  <div class="modal fade" id="editarLivroModal" tabindex="-1" role="dialog" aria-labelledby="editarModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">    
          <h5>Editar livro</h5>      
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="cadastro-livro">
            <form action="/listar-meus-livros-para-troca" method="POST">
              <div class="row">
                <div class="col-12 col-lg-6">
                  <!-- <img src="" alt="livro 1" id="imgLivro" class="img-fluid capa-livro"> -->
                  <!-- <input type="file" name="photo" id="photo"> -->
                  <input type="text" name="idBook" id="idBook" hidden>
                  <div class="form-group">
                    <label for="titulo">Nome do livro</label>
                    <input type="text" class="form-control" name="titulo" id="nomeLivro" placeholder="Nome do livro">
                  </div>
                  <div class="form-group">
                    <label for="autor">Autor</label>
                    <input type="text" class="form-control" name='autor' id="autor" required placeholder="Autor">
                  </div>
                  <div class="form-group">
                    <label for="acao">O que deseja fazer?</label>
                    <select id="acao" name="disponibilidade" class="form-control">
                      <option  value="doar">Doar</option>
                      <option selected value="emprestar">Emprestar</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="localTroca">Local de encontro para troca</label>
                    <input type="text" class="form-control" name="localizacao" id="localTroca" placeholder="Local de encontro para troca">
                  </div>
                </div>
                <div class="col-12 col-lg-6">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3657.164465543781!2d-46.657037035543055!3d-23.562535967519576!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-PT!2sus!4v1586352420780!5m2!1spt-PT!2sus" width="100%" height="320" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
                <div class="col-12">
                  <input class="btn btn-primary px-3 my-2" type="submit" value="Editar livro">
                </div>
              </div>
              
              
            </form>
          </div>
        </div>        
      </div>
    </div>
  </div>

  <!--Modal excluir-->
  <div class="modal fade" id="excluirModal" tabindex="-1" role="dialog" aria-labelledby="excluirModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">          
          <h5 class="modal-title" id="excluirModalLabel">Excluir livro</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">          
          <p>Tem certeza que deseja excluir esse livro?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Não</button>
          <button type="button" class="btn btn-primary">Sim</button>
        </div>
      </div>
    </div>
  </div>

  <!--Modal troca-->
  <div class="modal fade" id="emprestadoModal" tabindex="-1" role="dialog" aria-labelledby="emprestadoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">          
          <h5 class="modal-title" id="emprestadoModalLabel">Marcar livro como emprestado</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form name="trocaform" id="trocaform" method="post" action="/troca">
          <div class="modal-body">
            <input type="text" name="idBook" id="idBook" hidden>
            <p class="mt-3">Tem certeza que deseja marcar este livro como emprestado?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Não</button>
            <button  type="submit" class="btn btn-primary">Sim</button>
          </div>
        </form>
      </div>
    </div>

  </div>
  
  <!--Modal recebido-->
  <div class="modal fade" id="recebidoModal" tabindex="-1" role="dialog" aria-labelledby="recebidoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">          
          <h5 class="modal-title" id="recebidoModalLabel">Marcar livro como devolvido</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="post" action="/recebido">
        <input type="text" name="idBook" id="idBook" hidden>
          <div class="modal-body">
            <p>Tem certeza que deseja marcar este livro como devolvido?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Não</button>
            <button  type="submit" class="btn btn-primary">Sim</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <footer class="footer">

  </footer>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="./bootstrap/js/bootstrap.min.js"></script>
  <script src="javascript/owl.carousel.min.js"></script>
  <script>
    $('#livroModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) // Button that triggered the modal
      var imagem = button.data('imagem')
      var livro = button.data('livro') 
      var usuario = button.data('usuario') 
      var local = button.data('local') 
      var modal = $(this)
      modal.find('#imgLivro').attr("src",'images/img-livros/'+imagem)
      modal.find('#livro').text(livro)
      modal.find('#usuario').text(usuario)
      modal.find('#contato').text(usuario)
      modal.find('#localTroca').text(local)

    });

    /*Editar*/
    $('#editarLivroModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget)
      var id = button.data('id')
      var nomeLivro = button.data('livro') 
      var imagem = button.data('imagem') 
      var autor = button.data('autor') 
      var local = button.data('local') 
      var modal = $(this)

      modal.find('#idBook').val(id)
      modal.find('#nomeLivro').val(nomeLivro)
      modal.find('#capaLivro').attr("src", 'images/img-livros/'+imagem)
      modal.find('#autor').val(autor)
      modal.find('#localTroca').val(local)
    })

    /*Trocar*/
    $('#emprestadoModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget)
      var id = button.data('id')
      var nomeLivro = button.data('livro') 
      var imagem = button.data('imagem') 
      var autor = button.data('autor') 
      var local = button.data('local') 
      var modal = $(this)

      modal.find('#idBook').val(id)
      modal.find('#nomeLivro').val(nomeLivro)
      modal.find('#capaLivro').attr("src", 'images/img-livros/'+imagem)
      modal.find('#autor').val(autor)
      modal.find('#localTroca').val(local)
    })

    /*Receber*/
    $('#recebidoModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget)
      var id = button.data('livros_id')
      var modal = $(this)

      modal.find('#idBook').val(id)
    })

  </script>
  
</body>

</html>